@model List<Udemy.ConsumeApi.Response.ProductResponseModel>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CONSUME APİ</title>
</head>
<body>
    <a  asp-controller="Home" asp-action="Create">Yeni Ürün Ekle</a>
    <table>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Stock</td>
            <td>Price</td>
            <td>ImagePath</td>
            <td></td>
         
         

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Stock</td>
                <td>@item.Price</td>
                <td>@item.ImagePath</td>
                <td><a asp-action="Update" asp-controller="Home" asp-route-id="@item.Id"></a></td> 
                <td><a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id"></a></td> 
            </tr>
        }

    </table>
</body>
</html>